
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="default.css">
	<title>蔵書管理</title>
</head>
<body>
	<h1>蔵書管理</h1>
	<h2>蔵書の登録</h2>
	<p>情報を登録しました。|</p>
	<a href="list.erb">蔵書データの表示</a>|
	<a href="index.html">メニュー画面に戻る</a>
	<hr>
</body>
</html>
